html{
    height: 100%;
    width: 100%;
}
body{
    height: 100%;
    width: 100%;
    margin: 0 auto;
    background-color: lightgray;
    color: black;
    font-family: 'Source Sans Pro', sans-serif;
}
#main{
    display: inline-flex;
    width: 100%;
}
.topBar{
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,0.2), 0 1px 1px 0 rgba(0,0,0,0.14), 0 2px 1px -1px rgba(0,0,0,0.12);
    height: 45px;
    background-color: #4BC3D1;
    color: whitesmoke;
}
#pageTitle{
    font-size: 40px;
    padding-left: 10px;
}
.lavaLink{
    background-color: black;
    padding: 9px;
    width: 75px;
}
.leftSide{
    width: 50%;
    font-size: 25px;
}
.questionnaire{
    padding: 6%;
}
.rightSide{
    width: 50%;
}
.progressBar{
    padding: 2%;
}
.myDisplay {
    display: none;
}
.input{
    display: inline-flex;
    width: 100%;
    margin: 0 auto;
}
.checkboxLabels{
    text-align: left;
    padding-left: 30%;
}
.percentTitle {
    font-size: 30px;
    text-align: center;
}
.collapse {
    display: none;

}
.circleContainer{
}
.card{
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);
    background-color: whitesmoke;
    border: solid 1px #e6e6e6;
    font-size: 20px;
    margin-top: 2%;
    margin-bottom: 2%;
    height: 180px;

}